[Unit]
Description=Watchdog sample daemon
After=getty.target

[Service]
Type=simple
ExecStart=echo "A" > /dev/watchdog

[Timer]
OnUnitInactiveSec=15s
Unit=watchdog-sample.service

[Install]
WantedBy=multi-user.target

