[Unit]
Description=Watchdog sample
After=getty.target

[Service]
Type=simple
ExecStart=/bin/sh -c "/bin/echo A > /dev/watchdog"

[Install]
WantedBy=multi-user.target

