# AMiRo Video device
SUBSYSTEM=="video4linux", KERNEL=="v4l-subdev*", \
  ATTR{name}=="mt9V032 3-005c", RUN+="/etc/udev/scripts/media-state.sh"

SUBSYSTEM=="video4linux", KERNEL=="video*", \
  ATTR{name}=="OMAP3 ISP CCDC output", SYMLINK+="video"
