# AMiRo Video device
SUBSYSTEM=="video4linux", KERNEL=="v4l-subdev*", \
  ATTR{name}=="ov5647 2-0036", RUN+="/etc/udev/scripts/media-state.sh"

SUBSYSTEM=="video4linux", KERNEL=="video*", \
  ATTR{name}=="OMAP3 ISP resizer output", SYMLINK+="video"
